.balance {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #8e8e8e;
}

.chain-and-token {
  display: flex;
  align-items: center;
  margin-top: 18px;
  justify-content: flex-start;
}
