<div *ngIf="in">
  <span
    class="p-input-icon-left"
    *ngIf="!selectedOriginChain || !selectedSourceDenom || !selectedExitDenom"
  >
    <i class="pi pi-search"></i>

    <input autofocus type="text" pInputText [(ngModel)]="searchText" />
  </span>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
    "
    *ngIf="this.selectedOriginChain"
  >
    Get funds from: &nbsp;<span style="color: coral">{{
      this.selectedOriginChain.chain_name | uppercase
    }}</span>
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedOriginChain.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />&nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedChainEvent.emit()"
      >replace</a
    >
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
    "
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    Use token: &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedSourceDenom.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;
    <span style="color: coral">{{
      this.selectedSourceDenom.recommended_symbol | uppercase
    }}</span>
    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedSourceDenomEvent.emit()"
      >replace</a
    >
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
    "
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    Get funds to: &nbsp;

    <span style="color: coral">{{
      this.selectedExitChain?.chain_name | uppercase
    }}</span>
    &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedExitChain?.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />

    &nbsp;&nbsp;
    <i class="pi pi-lock" style="font-size: 1.5rem"></i>
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
    "
    *ngIf="
      this.selectedOriginChain &&
      this.selectedSourceDenom &&
      this.selectedExitDenom
    "
  >
    Receive token: &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedExitDenom.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;
    <span style="color: coral">{{
      this.selectedExitDenom.recommended_symbol | uppercase
    }}</span>
    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedExitDenomEvent.emit()"
      >replace</a
    >
  </div>
</div>
<div *ngIf="out">
  <span
    class="p-input-icon-left"
    *ngIf="!selectedOriginChain || !selectedSourceDenom || !selectedExitDenom"
  >
    <i class="pi pi-search"></i>
    <input autofocus type="text" pInputText [(ngModel)]="searchText" />
  </span>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
    "
    *ngIf="this.selectedOriginChain"
  >
    Get funds from: &nbsp;<span style="color: coral">{{
      this.selectedOriginChain.chain_name | uppercase
    }}</span>
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedOriginChain.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;&nbsp;
    <i class="pi pi-lock" style="font-size: 1.5rem"></i>
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
    "
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    Use token: &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedSourceDenom.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;
    <span style="color: coral">{{
      this.selectedSourceDenom.recommended_symbol | uppercase
    }}</span>
    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedSourceDenomEvent.emit()"
      >replace</a
    >
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
    "
    *ngIf="
      this.selectedOriginChain &&
      this.selectedSourceDenom &&
      this.selectedExitChain
    "
  >
    Get funds to: &nbsp;

    <span style="color: coral">{{
      this.selectedExitChain.chain_name | uppercase
    }}</span>
    &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedExitChain.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />

    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedChainEvent.emit()"
      >replace</a
    >
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
    "
    *ngIf="
      this.selectedOriginChain &&
      this.selectedSourceDenom &&
      this.selectedExitDenom
    "
  >
    Receive token: &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedExitDenom.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;
    <span style="color: coral">{{
      this.selectedExitDenom.recommended_symbol | uppercase
    }}</span>
    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedExitDenomEvent.emit()"
      >replace</a
    >
  </div>
</div>
