<div
  style="margin-top: 5vh"
  *ngIf="
    selectedOriginChain &&
    selectedExitChain &&
    selectedSourceDenom &&
    selectedExitDenom
  "
></div>
<div *ngIf="in">
  <div class="chain-and-token" *ngIf="this.selectedOriginChain">
    Get funds from: &nbsp;<span style="color: coral">{{
      this.selectedOriginChain.chain_name | uppercase
    }}</span>
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedOriginChain.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />&nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedChainEvent.emit()"
      >replace</a
    >
  </div>
  <div
    class="chain-and-token"
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    Use token: &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedSourceDenom.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;
    <span style="color: coral">{{
      this.selectedSourceDenom.recommended_symbol | uppercase
    }}</span>
    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedSourceDenomEvent.emit()"
      >replace</a
    >
  </div>
  <div
    class="balance"
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    Balance &nbsp;&nbsp;
    <i style="color: #a64f2f">{{
      this.selectedSourceDenom.balance | number : "1.2-20"
    }}</i>
  </div>
  <div
    class="chain-and-token"
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    <i class="pi pi-angle-down" style="font-size: 2rem; color: #8e8e8e"></i>
  </div>
  <div
    class="chain-and-token"
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    Get funds to: &nbsp;

    <span style="color: coral">{{
      this.selectedExitChain?.chain_name | uppercase
    }}</span>
    &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedExitChain?.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />

    &nbsp;&nbsp;
    <i class="pi pi-lock" style="font-size: 1.5rem"></i>
  </div>
  <div
    class="chain-and-token"
    *ngIf="
      this.selectedOriginChain &&
      this.selectedSourceDenom &&
      this.selectedExitDenom
    "
  >
    Receive token: &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedExitDenom.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;
    <span style="color: coral">{{
      this.selectedExitDenom.recommended_symbol | uppercase
    }}</span>
    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedExitDenomEvent.emit()"
      >replace</a
    >
  </div>
  <div
    class="balance"
    *ngIf="
      this.selectedOriginChain &&
      this.selectedSourceDenom &&
      this.selectedExitDenom
    "
  >
    Balance &nbsp;&nbsp;
    <i style="color: #a64f2f">{{
      this.selectedExitDenom.balance | number : "1.2-20"
    }}</i>
  </div>
  <span
    class="p-input-icon-left"
    style="margin-top: 2rem"
    *ngIf="!selectedOriginChain || !selectedSourceDenom || !selectedExitDenom"
  >
    <i class="pi pi-search"></i>

    <input autofocus type="text" pInputText [(ngModel)]="searchText" />
  </span>
</div>
<div *ngIf="out">
  <div class="chain-and-token" *ngIf="this.selectedOriginChain">
    Get funds from: &nbsp;<span style="color: coral">{{
      this.selectedOriginChain.chain_name | uppercase
    }}</span>
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedOriginChain.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;&nbsp;
    <i class="pi pi-lock" style="font-size: 1.5rem"></i>
  </div>
  <div
    class="chain-and-token"
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    Use token: &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedSourceDenom.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;
    <span style="color: coral">{{
      this.selectedSourceDenom.recommended_symbol | uppercase
    }}</span>
    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedSourceDenomEvent.emit()"
      >replace</a
    >
  </div>
  <div
    class="balance"
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    Balance &nbsp;&nbsp;
    <i style="color: #a64f2f">{{
      this.selectedSourceDenom.balance | number : "1.2-20"
    }}</i>
  </div>
  <div
    class="chain-and-token"
    *ngIf="this.selectedOriginChain && this.selectedSourceDenom"
  >
    <i class="pi pi-angle-down" style="font-size: 2rem; color: #8e8e8e"></i>
  </div>
  <div
    class="chain-and-token"
    *ngIf="
      this.selectedOriginChain &&
      this.selectedSourceDenom &&
      this.selectedExitChain
    "
  >
    Get funds to: &nbsp;

    <span style="color: coral">{{
      this.selectedExitChain.chain_name | uppercase
    }}</span>
    &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedExitChain.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />

    &nbsp;&nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedChainEvent.emit()"
      >replace</a
    >
  </div>
  <div
    class="chain-and-token"
    *ngIf="
      this.selectedOriginChain &&
      this.selectedSourceDenom &&
      this.selectedExitDenom
    "
  >
    Receive token: &nbsp;
    <img
      style="width: 25px; height: 25px; margin-left: 5px"
      [src]="this.selectedExitDenom.logo_uri"
      alt=""
      onerror="this.style.display='none'"
    />
    &nbsp;
    <span style="color: coral">{{
      this.selectedExitDenom.recommended_symbol | uppercase
    }}</span>
    &nbsp; &nbsp;
    <a
      role="button"
      href="javascript:void(0);"
      (click)="removeSelectedExitDenomEvent.emit()"
      >replace</a
    >
  </div>
  <div
    class="balance"
    *ngIf="
      this.selectedOriginChain &&
      this.selectedSourceDenom &&
      this.selectedExitDenom
    "
  >
    Balance &nbsp;&nbsp;
    <i style="color: #a64f2f">{{
      this.selectedExitDenom.balance | number : "1.2-20"
    }}</i>
  </div>
  <span
    class="p-input-icon-left"
    style="margin-top: 2rem"
    *ngIf="!selectedOriginChain || !selectedSourceDenom || !selectedExitDenom"
  >
    <i class="pi pi-search"></i>
    <input autofocus type="text" pInputText [(ngModel)]="searchText" />
  </span>
</div>
