.footer-container {
  //position: fixed;
  //bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5vh;
  //line-height: 60px;
  //background-image: linear-gradient( #121212,#e8e8e8);
  margin: 0;
  /*   border-width: inherit;
    border-bottom: coral;
    border-style: solid; */
}
