<div class="card">
  <p-accordion
    (activeIndexChange)="activeIndexChange($event)"
    [activeIndex]="activeIndex"
  >
    <p-accordionTab
      [header]="!ongoingTracking ? 'Preview' : 'Live Execution...'"
      *ngIf="previewInformation"
    >
      <div class="grid" *ngIf="!ongoingTracking">
        <div class="col-12 lg:col-5" style="text-align: center">
          <img
            style="width: 25px; height: 25px; margin-left: 5px"
            [src]="this.selectedSourceDenom.logo_uri"
            alt=""
            onerror="this.style.display='none'"
          />
          <p class="m-0">
            Amount In
            <b style="color: coral">{{
              getNumberFromString(
                previewInformation.amount_in,
                selectedSourceDenom.decimals
              ) | number : "1.2-20"
            }}</b
            >&nbsp;<i>(${{ previewInformation.usd_amount_in }})</i>
          </p>
        </div>
        <div
          class="col-12 lg:col-2"
          style="display: flex; align-items: center; justify-content: center"
        >
          <i class="pi pi-sync" style="font-size: 1.3rem"></i>
        </div>
        <div class="col-12 lg:col-5" style="text-align: center">
          <img
            style="width: 25px; height: 25px; margin-left: 5px"
            [src]="this.selectedExitDenom.logo_uri"
            alt=""
            onerror="this.style.display='none'"
          />
          <p class="m-0">
            Amount Out
            <b style="color: coral">{{
              getNumberFromString(
                previewInformation.estimated_amount_out,
                selectedExitDenom.decimals
              ) | number : "1.2-20"
            }}</b
            >&nbsp;<i>(${{ previewInformation.usd_amount_out }})</i>
          </p>
        </div>
        <div class="col-12" style="text-align: center">
          <p class="m-0">
            Estimated price impact
            <b style="color: coral"
              >{{
                (previewInformation.swap_price_impact_percent
                  ? previewInformation.swap_price_impact_percent
                  : 0
                ) | number : "1.2-4"
              }}%</b
            >&nbsp;
          </p>
        </div>
        <div class="col-12 space-up" *ngIf="eventsFromEstimate">
          <p-timeline [value]="events">
            <ng-template pTemplate="content" let-event>
              <p
                class="m-0 details"
                style="display: flex; flex-wrap: wrap"
                *ngIf="event.operationType === 'Transfer'"
              >
                <!-- {{ event.chainSource | uppercase
                }} --><img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.chainSourceIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                &nbsp; to &nbsp;<!-- {{ event.chainExit | uppercase
                }} --><img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.chainExitIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
              </p>
              <p
                class="m-0 details"
                style="display: flex; flex-wrap: wrap"
                *ngIf="event.operationType === 'Swap'"
              >
                <img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.swapDenomInIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                <!--  {{ event.swapDenomInName | uppercase }} -->
                &nbsp; to &nbsp;<img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.swapDenomOutIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                <!--  {{ event.swapDenomOutName | uppercase }} -->
              </p>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
              <p
                class="m-0 operation-type details"
                style="display: flex; flex-wrap: wrap"
                *ngIf="event.operationType === 'Transfer'"
              >
                <b style="color: coral">{{ event.operationType }}</b
                >&nbsp;
                <img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.denomIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                {{ event.denomName }}
              </p>
              <p
                class="m-0 operation-type details"
                style="display: flex; flex-wrap: wrap"
                *ngIf="event.operationType === 'Swap'"
              >
                <b style="color: coral">{{ event.operationType }}</b
                >&nbsp;
                <img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.chainSourceIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                {{ event.chainSource | uppercase }}
              </p>
            </ng-template>
          </p-timeline>
        </div>
        <div
          class="col-12"
          style="display: flex; align-items: center; justify-content: center"
        >
          <i>Powered by</i> &nbsp;&nbsp;
          <img
            style="width: 45px; height: 45px"
            src="../assets/img/skip_logo_.svg"
          />
          &nbsp; &nbsp;
          <i
            class="pi pi-arrow-up-right"
            (click)="navigateToLink()"
            style="cursor: pointer; color: coral"
          ></i>
        </div>
      </div>
      <div class="grid" *ngIf="ongoingTracking">
        <div class="col-12 lg:col-5" style="text-align: center">
          <img
            style="width: 25px; height: 25px; margin-left: 5px"
            [src]="this.selectedSourceDenom.logo_uri"
            alt=""
            onerror="this.style.display='none'"
          />
          <p class="m-0">
            Amount In
            <b style="color: coral">{{
              getNumberFromString(
                previewInformation.amount_in,
                selectedSourceDenom.decimals
              ) | number : "1.2-20"
            }}</b
            >&nbsp;<i>(${{ previewInformation.usd_amount_in }})</i>
          </p>
        </div>
        <div
          class="col-12 lg:col-2"
          style="display: flex; align-items: center; justify-content: center"
        >
          <i class="pi pi-sync" style="font-size: 1.3rem"></i>
        </div>
        <div class="col-12 lg:col-5" style="text-align: center">
          <img
            style="width: 25px; height: 25px; margin-left: 5px"
            [src]="this.selectedExitDenom.logo_uri"
            alt=""
            onerror="this.style.display='none'"
          />
          <p class="m-0">
            Amount Out
            <b style="color: coral">{{
              getNumberFromString(
                previewInformation.estimated_amount_out,
                selectedExitDenom.decimals
              ) | number : "1.2-20"
            }}</b
            >&nbsp;<i>(${{ previewInformation.usd_amount_out }})</i>
          </p>
        </div>
        <div class="col-12" style="text-align: center">
          <p class="m-0">
            Estimated price impact
            <b style="color: coral"
              >{{
                (previewInformation.swap_price_impact_percent
                  ? previewInformation.swap_price_impact_percent
                  : 0
                ) | number : "1.2-4"
              }}%</b
            >&nbsp;
          </p>
        </div>
        <div
          class="col-12 space-up"
          *ngIf="eventsFromEstimate && ongoingTracking"
        >
          <p-timeline [value]="events">
            <ng-template pTemplate="marker" let-event>
              <span class="custom-marker shadow-2">
                <i [ngClass]="event.icon"></i>
              </span>
            </ng-template>
            <ng-template pTemplate="content" let-event>
              <p
                class="m-0 details"
                style="display: flex; flex-wrap: wrap"
                *ngIf="event.operationType === 'Transfer'"
              >
                <!-- {{ event.chainSource | uppercase
                }} --><img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.chainSourceIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                &nbsp; to &nbsp;<!-- {{ event.chainExit | uppercase
                }} --><img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.chainExitIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
              </p>
              <p
                class="m-0 details"
                style="display: flex; flex-wrap: wrap"
                *ngIf="event.operationType === 'Swap'"
              >
                <img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.swapDenomInIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                <!-- {{ event.swapDenomInName | uppercase }} -->
                &nbsp; to &nbsp;<img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.swapDenomOutIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                <!--  {{ event.swapDenomOutName | uppercase }} -->
              </p>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
              <p
                class="m-0 operation-type details"
                style="display: flex; flex-wrap: wrap"
                *ngIf="event.operationType === 'Transfer'"
              >
                <b style="color: coral">{{ event.operationType }}</b
                >&nbsp;
                <img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.denomIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                {{ event.denomName }}
              </p>
              <p
                class="m-0 operation-type details"
                style="display: flex; flex-wrap: wrap"
                *ngIf="event.operationType === 'Swap'"
              >
                <b style="color: coral">{{ event.operationType }}</b
                >&nbsp;
                <img
                  style="width: 25px; height: 25px; margin-left: 5px"
                  [src]="event.chainSourceIcon"
                  alt=""
                  onerror="this.style.display='none'"
                />
                {{ event.chainSource | uppercase }}
              </p>
            </ng-template>
          </p-timeline>
        </div>
        <div class="col-12 space-up" style="text-align: center">
          <span class="custom-marker shadow-2">
            <i
              *ngIf="statusInformation?.state === 'STATE_COMPLETED_SUCCESS'"
              class="pi pi-check-circle"
              style="font-size: 2.5rem; color: green"
            ></i>
            <i
              *ngIf="statusInformation?.state === 'STATE_COMPLETED_ERROR'"
              class="pi pi-exclamation-circle"
              style="font-size: 2.5rem"
            ></i>
          </span>
        </div>
        <div
          class="col-12"
          style="display: flex; align-items: center; justify-content: center"
        >
          <i>Powered by</i> &nbsp;&nbsp;
          <img
            style="width: 45px; height: 45px"
            src="../assets/img/skip_logo_.svg"
          />
          &nbsp; &nbsp;
          <i
            class="pi pi-arrow-up-right"
            (click)="navigateToLink()"
            style="cursor: pointer; color: coral"
          ></i>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
