<div class="container-base">
  <div class="question">Whatcha wanna do?</div>
  <div class="options-container">
    <div class="base-space" (click)="routeToSwapIn()">
      <p-card header="get IN" class="wallet-cards">
        <i class="pi pi-sign-in in"></i>
        <p class="m-0 space-up-small">Deposit assets on Juno</p>
      </p-card>
    </div>
    <div class="base-space">
      <p-card header="get OUT" class="wallet-cards">
        <i class="pi pi-sign-out out"></i>
        <p class="m-0 space-up-small">Withdraw assets from Juno</p>
      </p-card>
    </div>
    <!-- <div class="base-space">
      <p-card header="Pro" class="wallet-cards disabled-card">
        <i class="pi pi-chart-bar" style="color: #492d23"></i>
        <p class="m-0 space-up-small disabled">Do it like a pro</p>
      </p-card>
    </div> -->
  </div>
</div>
