<div class="app-container">
  <app-header></app-header>
  <div class="base-element">
    <!-- <section>
    <div *ngFor="let log of log_result">
    <div class="card flex justify-content-center">
      <p-button label="Connect Keplr" icon="pi pi-check" *ngIf="!walletService.wallet" (onClick)="walletService.connectToWallet('keplr')"></p-button>
      <p-button label="Disconect Keplr" icon="pi pi-check"  (onClick)="walletService.disconnectWallet()" *ngIf="walletService.wallet"></p-button>
    </div>
    <div class="card flex justify-content-center">
      <p-button label="Connect Leap" icon="pi pi-check" *ngIf="!walletService.wallet" (onClick)="walletService.connectToWallet('leap')"></p-button>
      <p-button label="Disconect Leap" icon="pi pi-check"  (onClick)="walletService.disconnectWallet()" *ngIf="walletService.wallet"></p-button>
    </div>
    <div class="card flex justify-content-center">
      <p-button label="Get Accounts" icon="pi pi-check" *ngIf="walletService.wallet" (onClick)="walletService.getAccounts()"></p-button>
    </div>
    <div class="card flex justify-content-center">
      <p-button label="Get Balance" icon="pi pi-check" *ngIf="walletService.wallet" (onClick)="getAvailableAssets('juno-1')"></p-button>
    </div>
    <div class="card flex justify-content-center">
      <p-button label="Transfer 1 Star to Juno" icon="pi pi-check" *ngIf="walletService.wallet" (onClick)="transfer1StarToJuno()"></p-button>
    </div>
  </section> -->
    <router-outlet></router-outlet>
    <!-- <div class="grid">
      <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          1
        </div>
      </div>
      <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          2
        </div>
      </div>
      <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          3
        </div>
      </div>
    </div> -->
  </div>
  <app-footer></app-footer>
</div>
