.app-container {
  /*  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10vh;
  margin-bottom: 5vh; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.base-element {
  flex: 1;
  margin: 0;
  display: flex;
  justify-content: center;
  /* Y
   */
  //overflow-y: scroll;
  //background-image: url('/assets/img/TRY.png');
}

:host ::ng-deep {
  app-swap-in {
    flex: 1;
  }
  app-swap-out {
    flex: 1;
  }
}
